<p-toast></p-toast>
<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-fieldset legend="Formulaire de recherche " [toggleable]="true">
                <form [formGroup]="FormmulaireResetPass" (ngSubmit)="resetPassword()">
                    <div class="p-fluid p-formgrid grid">

                       
                        <div class="field col-12 md:col-6">
                            <label for="Password">Password </label>
                            <p-password  id="Password" formControlName="Password" required  [toggleMask]="true"></p-password>

                        </div>

                    </div>
                    <div class="flex justify-content-center center_media mt-3">

                        <button pButton pRipple type="submit" icon="pi pi-check" iconPos="right"
                            (disabled)="_loadingService.isLoading" label="Sauvegarder"
                            class="p-button-secondary mr-2 mb-2"></button>
                    </div>
                </form>
            </p-fieldset>
            <br>
            <hr><br>
        </div>
    </div>
</div>