<p-toast></p-toast>
<app-loader></app-loader>
<p-confirmPopup></p-confirmPopup>
<div class="grid">
    <div class="col-12">
        <div class="card">

            <div class="card flex justify-content-center">
                <p-table class="w-full" [value]="reclamationHistory" dataKey="id" [paginator]="true"
                    [showCurrentPageReport]="true" [rows]="take"
                    currentPageReportTemplate="Affichage {first} à {last} de {totalRecords} résultats"
                    [rowsPerPageOptions]="[5, 10, 25, 50, 100]" [tableStyle]="{'min-width': '60rem'}">
                    <ng-template pTemplate="header">
                        <tr>
                            <th  style="width:20%">Etat </th>
                            <th  style="width:20%">Utilisateur </th>
                            <th  style="width:20%">Date d'effet </th>
                            <th style="width:20%">Reponse</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-reclamation>
                        <tr>
                            <td>{{reclamation.etat}}</td>
                            <td>{{reclamation.user?.username}}</td>
                            <td>{{reclamation.dateDeffet | date : 'dd/MM/yyyy HH:mm' }}</td>
                            <td>{{reclamation.reponse}}</td>
                    
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td [attr.colspan]="9">
                                <div class="text-center">
                                    <div class="center_media">
                                        <img src="./assets/layout/images/no_data.svg" width="120px" alt="image no_data">
                                    </div>
                                    <p *ngIf="!is_loading" class="font-weight-bold mt-2">
                                        Aucun enregistrement sur la base de données
                                    </p>
                                    <p *ngIf="is_loading" class="font-weight-bold mt-2">
                                        Chargement ...
                                    </p>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>
